<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="!showPesquisar">Categorias</ion-title>
    <ion-buttons slot="primary" *ngIf="!showPesquisar">
      <ion-button (click)="pesquisaButtonClick()">
        <ion-icon sslot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="Pesquisar" *ngIf="showPesquisar" showCancelButton="true" (ionCancel)="pesquisaBarCancel()" (ionChange)="pesquisaChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let categoria of categorias">
      <ion-item>
        <ion-label>{{categoria.nome}}</ion-label>
      </ion-item>

      <!-- Opção de arrastar botão -->
      <ion-item-options>
        <!-- Botão editar -->
        <ion-item-option [routerLink]="['/tabs/categorias/editar', categoria.id]">
          <ion-icon slot="icon-only" name="create" color="warning"></ion-icon>
        </ion-item-option>
        <!-- Botão excluir -->
        <ion-item-option (click)="delete(categoria)">
          <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" [routerLink]="['nova']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
